.primary1 {
  background-color: #4C5C97;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
}
@-webkit-keyframes pulsateBig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
}
@keyframes pulsateBig {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: none;
  }
}
@-webkit-keyframes slidInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slidInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes growOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}
@keyframes growOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: linear-gradient(to bottom right, #4C5C97, #212842);
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}
html,
body {
  font-size: 100%;
  height: 100%;
  font-family: 'EB Garamond', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-family: 'Rubik', sans-serif;
}
p {
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: black;
}
.top-intro {
  width: 60%;
  margin: 4rem auto;
  display: flex;
  background-color: #fefefd;
  border-radius: 1rem;
  box-shadow: -1px 5px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: -5;
  padding: 2rem 1rem;
}
.top-intro__picture {
  width: 30%;
  margin: 2rem 4rem;
  height: auto;
  background-image: radial-gradient(circle closest-side, transparent, #fefefd);
  z-index: 1;
}
.top-intro__picture img {
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  height: calc(30% * 1vw);
}
.top-intro__info {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.top-intro__name {
  margin-top: 2rem;
}
.top-intro__name h1 {
  font-size: 3rem;
}
.top-intro__name h2 {
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 2rem;
}
.top-intro__paragraph {
  font-size: 1.8rem;
}
.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 20px;
  border: 1px solid #212842;
  margin-top: 2rem;
  font-size: 1.6rem;
  background-color: #98a3cb;
  box-shadow: -1px 5px 1px 3px rgba(0, 0, 0, 0.2);
}
footer {
  border-top: 2px solid grey;
  margin: 0 auto;
  display: flex;
  max-width: 80rem;
  width: 100%;
  padding-bottom: 4rem;
  flex-direction: column;
}
footer__container {
  padding: 2rem 2rem;
}
@media only screen and (max-width: 700px) {
  footer {
    width: 96%;
    margin: 2rem 2% 0 2%;
  }
}
.footer__col > nav > ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: flex;
}
.footer__col > nav > ul > li {
  padding-top: 2rem;
  flex-direction: column;
  font-size: 1.2rem;
  -webkit-transform: rotate(-22deg) translateY(2rem);
          transform: rotate(-22deg) translateY(2rem);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: all 0.3s ease-in;
}
.footer__col > nav > ul > li:hover {
  -webkit-transform: rotate(0) translate(0);
          transform: rotate(0) translate(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.footer__col > nav > ul > li > a {
  text-decoration: underline;
}
.footer__col > nav > ul > li:not(:last-child) {
  padding-right: 4rem;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-image: linear-gradient(to bottom right, #f2f2f2, #e4e4e4);
  display: block;
  margin: 0 auto;
  height: 6rem;
  text-align: center;
  z-index: 5;
}
@media only screen and (max-width: 700px) {
  .header {
    height: 12rem;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    height: 32rem;
    position: absolute;
  }
}
.header__content {
  margin: 0 auto;
  display: flex;
  height: 6rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 80rem;
}
@media only screen and (max-width: 700px) {
  .header__content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .header__content {
    height: 100%;
    padding-bottom: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .header__nav {
    width: 100%;
  }
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
}
@media only screen and (max-width: 400px) {
  .header__nav ul {
    flex-direction: column;
  }
}
.header__li:not(:last-child) {
  margin-right: 3rem;
}
@media only screen and (max-width: 400px) {
  .header__li:not(:last-child) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 400px) {
  .header__li {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 1rem 0;
    margin-right: 0;
  }
}
.header__li.selected {
  background: aliceblue;
  padding: 1.4rem;
  box-shadow: inset 0 0 6px #ada3a3;
  border-radius: 6px;
}
.header__logo {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .header__logo {
    order: -1;
    margin-top: 2rem;
    padding: 4rem 0;
  }
}
.page__title {
  font-size: 5rem;
  background-image: linear-gradient(to bottom right, #98a3cb, #64325e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  width: 100%;
  margin: 4rem auto;
  text-align: center;
  z-index: 1;
}
.color_pallet {
  margin: 1rem;
  background-color: #556270;
  color: #fff;
}
.color_pallet .mono {
  font-size: 0;
  border-radius: 10px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  margin: 1rem 0;
}
.color_pallet .mono > div {
  display: inline-block;
  width: 20%;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.color_pallet .mono > div:first-child {
  border-radius: 10px 0 0 10px;
}
.color_pallet .mono > div:last-child {
  border-radius: 0 10px 10px 0;
}
h2 {
  text-align: center;
}
.primary-1 {
  background-color: #4C5C97;
  color: #fff;
}
.primary-2 {
  background-color: #7684ba;
  color: #fff;
}
.primary-3 {
  background-color: #98a3cb;
  color: #fff;
}
.primary-4 {
  background-color: #323d64;
  color: #fff;
}
.primary-5 {
  background-color: #212842;
  color: #fff;
}
.complement-1 {
  background-color: #974c5c;
  color: #fff;
}
.complement-2 {
  background-color: #ba7684;
  color: #fff;
}
.complement-3 {
  background-color: #cb98a3;
  color: #fff;
}
.complement-4 {
  background-color: #64323d;
  color: #fff;
}
.complement-5 {
  background-color: #422128;
  color: #fff;
}
.secondary-1 {
  background-color: #97874c;
  color: #fff;
}
.secondary-2 {
  background-color: #baab76;
  color: #fff;
}
.secondary-3 {
  background-color: #cbc098;
  color: #fff;
}
.secondary-4 {
  background-color: #645a32;
  color: #fff;
}
.secondary-5 {
  background-color: #423b21;
  color: #fff;
}
.tertiary-1 {
  background-color: #974c8e;
  color: #fff;
}
.tertiary-2 {
  background-color: #ba76b2;
  color: #fff;
}
.tertiary-3 {
  background-color: #cb98c5;
  color: #fff;
}
.tertiary-4 {
  background-color: #64325e;
  color: #fff;
}
.tertiary-5 {
  background-color: #42213e;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */