// Variables

@primary1: @color;
@primary2: lighten(@color, 15%);
@primary3: lighten(@color, 25%);
@primary4: darken(@color, 15%);
@primary5: darken(@color, 25%);

@complement1: spin(@color, 120);
@complement2: lighten(spin(@color,120), 15%);
@complement3: lighten(spin(@color,120), 25%);
@complement4: darken(spin(@color,120), 15%);
@complement5: darken(spin(@color,120), 25%);


@secondary1: spin(@color, 180);
@secondary2: lighten(spin(@color,180), 15%);
@secondary3: lighten(spin(@color,180), 25%);
@secondary4: darken(spin(@color,180), 15%);
@secondary5: darken(spin(@color,180), 25%);


@tertiary1: spin(@color, 80);
@tertiary2: lighten(spin(@color,80), 15%);
@tertiary3: lighten(spin(@color,80), 25%);
@tertiary4: darken(spin(@color,80), 15%);
@tertiary5: darken(spin(@color,80), 25%);
